node_modules/
.env
public/bootstrap
public/app.bundle.js
public/app.bundle.js.LICENSE.txt
public/app.bundle.js.map

public/vendor.bundle.js
public/vendor.bundle.js.LICENSE.txt
public/vendor.bundle.js.map