#blog-text {
    -webkit-text-fill-color: antiquewhite;
    -webkit-background-clip: text;
}

#blog-text {
    animation: glitchBlog 1s linear infinite;
}

@keyframes glitchBlog {

    2%,
    64% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-49%, -50%) skew(0deg);
    }

    62% {
        transform: translate(-49%, -50%) skew(5deg);
    }
}

#blog-text::before,
#blog-text::after {
    content: attr(title);
    position: absolute;
    left: 0;
}

#blog-text::before {
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    animation: glitchTops 1s linear infinite;
}

@keyframes glitchTops {

    2%,
    64% {
        transform: translate(-2px, -2px);
    }

    4%,
    60% {
        transform: translate(2px, -2px);
    }

    62% {
        transform: translate(75px, 1px) skew(-15deg);
    }
}

#blog-text::after {
    clip-path: polygon(0 68%, 100% 68%, 100% 100%, 0 100%);
    animation: glitchBottoms 1s linear infinite;
}

.blog-div-main {
    position: relative;
    margin: 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 2590px; /* Set the height of the container to match the image height */
}

.blog-card-single {
    border-radius: 1%;
    height: 100vh;
    transition: transform 0.2s ease-in-out;
    padding-bottom: 40px;
    
}

.blog-card-single:hover {
    transform: scale(1.2);
}

#create-post-button {
    display: flex;
    margin: auto;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #7c17da);
    border-radius: 8px;
    background-size: 100% auto;
    font-family: Fira Code;
    font-size: 17px;
    padding: 0.6em 1.5em;  
    position: relative;
    bottom: -40px;
    z-index: 1;
}

#create-post-button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgba(226, 205, 199, 0);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

#create-icon {
    position: relative;
    right: 10px;   
}

.post-modal {
    font-family: Fira Code;
}

#post-button {
    justify-content: end;
}

#edit-post-btn-pencil {
    border-radius: 50px;
    background: rgb(63,70,255);
background: linear-gradient(32deg, rgb(250, 89, 236) 0%, rgb(58, 139, 172) 100%);
margin-right: 125px;
}

#edit-post-btn-trash {
    border-radius: 50px;
    background: rgb(63,70,255);
    background: linear-gradient(32deg, rgb(250, 89, 236) 0%, rgb(58, 139, 172) 100%);

}

.button-actions {
    display: flex;
    justify-content: space-between; /* This evenly spaces the buttons within the card */
    align-items: flex-end; /* Align items to the bottom */
    position: absolute;
    bottom: 0px;
    margin-bottom: 8px;
}

.post-modal-del {
    font-family: Fira Code;
}

.post-modal-del .modal-content {
    height: 250px; 
  }

.float-end-delete-btn {
    margin: 1em 1em 1em 1em;
}
  