#basic-nav-dropdown {
  color: BlanchedAlmond;  
  text-shadow: 2px 2px DeepPink;
}
.card-single {
    border: 3px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.card-single:hover {
    border-color: rgb(0, 212, 250);
  }
  /* Glow effect */
  .card-single::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: linear-gradient(41deg, yellow, transparent 70%);
    transition: opacity 0.3s ease;
    opacity: 0;
    border-radius: 50%;
    z-index: 1;
  }
  .card-single:hover::before {
    opacity: 1;
  }

#ratings-btn {
  display: flex;
  justify-content: space-between; /* This evenly spaces the buttons within the card */
  align-items: flex-end; /* Align items to the bottom */
  position: absolute;
  bottom: 0px;
  text-align: center;
  z-index: 2;

  font-family: Fira Code;
  font-size: 14px;
  --bg: #000;
  --hover-bg: linear-gradient(32deg, rgba(63,89,255,1) 0%, rgba(17,155,238,1) 100%);
  --hover-text: #f3f2f2;
  color: #fff;
  background-color: linear-gradient(32deg, rgba(63,70,255,1) 0%, rgba(238,17,17,1) 100%);
  background: rgb(63,70,255);
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 35px;
  transition: .3s;
  margin-bottom: 8px;
  margin-left: 5px;
}

#ratings-btn:hover {
  color: var(--hover-text);
  transform: translate(0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

#ratings-btn:active {
  transform: translate(0);
  box-shadow: none;
}

.inline-dropdown {
  display: inline-block;
  align-items: center;
}

.inline-dropdown .dropdown-toggle-form {
  margin-right: 10px; /* Adjust the spacing between the label and the dropdown */
  margin-top: 5px;
}

.ratings-form {
  font-family: Fira Code;
}

#btn-submit-1 {
  margin-top: 30px;
  background: rgb(63,89,255);
background: linear-gradient(32deg, rgba(63,89,255,1) 0%, rgba(117,26,201,1) 100%);
}

#dropdown-toggle {
  background: rgb(63,89,255);
  background: linear-gradient(32deg, rgba(63,89,255,1) 0%, rgba(26,147,201,1) 100%);
  
}

.filter-search {
  font-family: Fira Code;
  padding: 20px;
}

.dropdown-search {
  margin-left: 50px;
}

.filter-modal {
  font-family: Fira Code;
  font-size: 15px;
  border-radius: 0;
}

.search-table {
  text-align: center;
}

.forgot-password-div{ 
  display: flexbox;
  max-width: 950px;
  padding: 40px 20px;
  margin: 170px auto;

  background: rgb(249,63,63);
background: linear-gradient(32deg, rgba(249,63,63,1) 0%, rgba(37,63,255,1) 100%);

}

#submit-forgotpassword-btn {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #1b5e9c 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 20px;

}

#submit-forgotpassword-btn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #ecbcbc;
  transform: translateY(-0.1em);
}

#submit-forgotpassword-btn:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

#counter-container {
  height: 500px;
}
.counter-div {
  font-family: Fira Code;
}
.text-center {
  margin-top: 100px;
}

#hr-other {
  margin: 1px;
}

.end-section {
  display: flexbox;
  background: rgb(126,0,171);
  background: linear-gradient(32deg, rgba(126,0,171,1) 52%, rgba(0,1,250,1) 100%);
    font-size: 16px;
font-family: Fira Code;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
  padding: 80px;
}
.end-div {
  margin-right: 40px;
  padding-top: 0;
}

#h1-end {
  color: #A5B4FC;
  font-size: 3em;
  padding-bottom: 25px;
}

#p-end {
  color: white;
  font-size: 1.2em;
  margin-bottom: 70px;
}

.cta {
  text-decoration: none;
  color: white;
}
.cta:hover {
  text-decoration: none;
}

.cta {
  color: white;
  background: linear-gradient(#8E86B5, #ACAEED);
  padding: 20px 30px;
  font-size: 1.1em;
  border-radius: 50px;
}
.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788BA);
}
@media screen and (max-width: 996px) {
  .hero {
     flex-direction: column;
     text-align: center;
     justify-content: center;
     padding: 30px;
     padding: 10px;
     width: 85%;
    }
  .hero img {
     order: 1;
     margin-bottom: 40px;
    }
  .hero div {
     order: 2;
     height: auto;
     margin-bottom: 15px;
     margin-right: 0;
    }
  .home p {
     padding: 0 50px 0 50px;
     margin-bottom: 50px;
    }
}
@media screen and (max-width: 470px) {
  .hero h1 {
     font-size: 2em;
    }
  .hero p {
     font-size: 1.2em;
    }
}