.password-reset-form-container {
  background: rgb(164,164,164);
  background: linear-gradient(32deg, rgba(164,164,164,1) 0%, rgba(37,195,255,1) 100%);
      padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Adjust as needed */
    margin: auto; /* Center the form */
    font-family: Fira Code;
    margin-top: 100px;
    margin-bottom: 100px;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
  }
  
  .password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reset-button {
    padding: 10px 20px;
    background-color: #007bff; /* Example button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .reset-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .show-password-label {
    margin-top: 5px;
    margin-left: 5px;
  }